# Professor's starter notebook
CAP6618_PP3.ipynb

# Python code we can download from place pointed to in the notebook
*.py

# Dataset we can download from the place pointed to in the notebook
*.gz

# Keras models
*.h5

# Except for the network used in the analysis part of the notebook
!lenet-like-batch-normalization-relu.h5

